.image-container {
  width: 100%;
}

.image-container > div {
  position: unset !important;
}

.image-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.accordion-kink:before {
  content: "";
  position: absolute;
  left: 4rem;
  top: -50px;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 50px solid currentColor;
}

.accordion-kink:after {
  content: "";
  position: absolute;
  left: 4.5rem;
  top: -30px;
  width: 0px;
  height: 0px;
  border-right: 30px solid transparent;
  border-bottom: 30px solid white;
}

@media only screen and (min-width: 640px) {
  .accordion-kink:before {
    left: 5rem;
  }

  .accordion-kink:after {
    left: 5.5rem;
  }
}

@media only screen and (min-width: 640px) {
  .gradient-center {
    transform: translate(-50%, -50%);
  }
}
