.image-container {
  width: 100%;
}

.image-container > div {
  position: unset !important;
}

.image-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.accordion-kink:before {
  content: "";
  position: absolute;
  left: 4rem;
  top: -50px;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 50px solid currentColor;
}

.accordion-kink:after {
  content: "";
  position: absolute;
  left: 4.5rem;
  top: -30px;
  width: 0px;
  height: 0px;
  border-right: 30px solid transparent;
  border-bottom: 30px solid white;
}

@media only screen and (min-width: 640px) {
  .accordion-kink:before {
    left: 5rem;
  }

  .accordion-kink:after {
    left: 5.5rem;
  }
}

@media only screen and (min-width: 640px) {
  .gradient-center {
    transform: translate(-50%, -50%);
  }
}

.box {
  offset-rotate: 0deg;
  position: absolute;
  top: 10%;
  left: 0%;

  offset-path: path(
    "M418.986,0c231.4,0,418.986,102.32,418.986,228.538S650.386,457.076,418.986,457.076,0,354.756,0,228.538,187.586,0,418.986,0Z"
  );
}

.gradient-center-xl {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-shadow {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
  cursor: url(../public/cursor.png), auto;
}

.speechbubble {
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
}

.check-youtube::before {
  content: "";
  position: absolute;
  top: -40px;
  height: 60px;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 0, 0, 0), white);
}

.inline-text-icon {
  display: inline-block;
  text-decoration: underline;
  position: relative;
  padding-right: 24px;
}
