@import "./_custom.css";

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Bold.eot");
  src: url("/fonts/NeueMontreal-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NeueMontreal-Bold.woff2") format("woff2"),
    url("/fonts/NeueMontreal-Bold.woff") format("woff"),
    url("/fonts/NeueMontreal-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Right Grotesk";
  src: url("/fonts/RightGrotesk-SpatialBlack.eot");
  src: url("/fonts/RightGrotesk-SpatialBlack.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/RightGrotesk-SpatialBlack.woff2") format("woff2"),
    url("/fonts/RightGrotesk-SpatialBlack.woff") format("woff"),
    url("/fonts/RightGrotesk-SpatialBlack.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .background-gradient {
    background-image: radial-gradient(currentColor 50%, transparent 50%);
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
